.link-nav {
    color: #FFFFFF;
    text-decoration: none;

    &:hover {
        color: #C9B79C;
    }
}

a {
    color: #FFFFFF;
    text-decoration: none;

    &:hover {
        color: #C9B79C;
    }
}