.primary {
  color: #282c34;
  background-color: #ffffff;
  border-color: #282c34;
}

.secondary {
  color: #ffffff;
  background-color: #282c34;
  border-color: #ffffff;
}

.primary,
.secondary {
  border-style: solid;
}