.tecnology {
  margin: 0 25px;

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
}

.tecnologyContent {
  align-self: center;
  width: 300px;
  text-align: center;
}

.tecnologyImage {
  width: 100%;
  border-bottom: 1px solid #ffffff;
}