.professionalContainer {
  background-color: #282c34;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px 5%;
}

.containerTitle {
  width: 100%;
}

.cardsContainer {
  //width: 270px;
  //border: 1px solid #C9B79C;
  //background-color: #ffffff;
  //color: #282c34;
  //font-weight: 900;
  //border-radius: 25px;
  //padding: 20px 15px;

  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}